:root {
  --color-1: 0 0% 100%;
  --color-2: 240 5% 96%;
  --color-3: 240 6% 90%;
  --color-4: 240 5% 84%;
  --color-5: 240 5% 65%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: 240 10% 3.9%;
    --color-2: 240 5.9% 10%;
    --color-3: 240 3.7% 15.9%;
    --color-4: 240 5% 25%;
    --color-5: 240 5% 35%;
  }
}

.animate-rainbow {
  animation: rainbow var(--speed, 2s) infinite linear;
  background-size: 200% auto;
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}